.game-item {
  width: 22rem;
  height: 22rem;
  position: relative;
  overflow: hidden;
}

.game-item > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .game-item {
    width: 15rem;
    height: 19rem;
  }
}
